.current-prize {
	max-width: 220px;
	min-height: 230px;

	padding: 1rem 1.5rem;

	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.current-prize__title {
	font-size: var(--h2-font-size);

	color: var(--title-color);

	font-weight: var(--font-medium);
}

.current-prize__prize {
	font-size: calc(var(--h1-font-size)+4.5rem);
	color: var(--text-color);
	align-self: center;
}

.current-prize__prize.good {
	color: var(--color-good-info);
}

.current-prize__prize.bad {
	color: var(--color-bad-info);
}

.current-prize__date {
	color: var(--text-color-light);
}

@media screen and (max-width: 425px) {
	.current-prize {
		max-width: 180px;
		min-height: 200px;

		padding: 0.5rem;
	}
	.current-prize__prize {
		font-size: calc(var(--h1-font-size)+2.5rem);

		align-self: center;
	}
}
