.navigation {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	padding: 1.5rem 1.25rem;

	font-size: var(--h1-font-size);
}

.nav-link {
	display: inline-flex;
	align-items: center;
	column-gap: 0.15rem;
}

.nav-link,
.nav-link svg {
	color: var(--text-color);
	fill: var(--text-color);

	text-decoration: none;

	transition: 0.4s;
}

.nav-link.is-active,
.nav-link.is-active svg {
	fill: var(--title-color);
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

.nav-link:hover svg {
	transform: translateY(-0.2rem);
}
