@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
	--header-height: 3.5rem;

	/* COLORS */
	/* color mode hsl (hue, saturation, lightness) */
	--hue: 221;
	--first-color: hsl(var(--hue), 24%, 32%);
	--first-color-alt: hsl(var(--hue), 24%, 28%);
	--first-color-light: hsl(var(--hue), 24%, 66%);
	--first-color-lighten: hsl(var(--hue), 24%, 92%);
	--title-color: hsl(var(--hue), 4%, 15%);
	--text-color: hsl(var(--hue), 4%, 35%);
	--text-color-light: hsl(var(--hue), 4%, 55%);
	--body-color: hsl(var(--hue), 4%, 97%);
	--container-color: #fff;

	/* FONTS */
	/* .5 rem = 8px; 1rem = 16px */
	--body-font: 'Roboto', sans-serif;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	--font-medium: 500;
	--font-semi-bold: 600;

	/* MARGINS */
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;

	/* z index */

	--z-tooltip: 10;
	--z-fixed: 100;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body,
button,
input,
textarea {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

h1,
h2,
h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
